---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <Header />
  <main class="container mx-auto px-4 flex flex-col min-h-screen gap-32 pt-32">
    <Hero />
    <About />
    <Experience />
    <Skills />
    <Projects />
    <Contact />
  </main>
</Layout>